@font-face {
    font-family: 'Amiri';
    src: url(/school_model_v2/static/src/fonts/Amiri-Bold.ttf);
}
 
@font-face {
    font-family: 'Cairo-Bold';
    src: url(/school_model_v2/static/src/fonts/Cairo-VariableFont_slnt,wght.ttf);
}
 